.App {
  text-align: center;
}

.App-header {
  background-color: rgb(230, 159, 159);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-body {
  font-size: large;
  max-width: 800px;
  margin: auto;
  padding: 16px;
}

button.list-group-item {
  text-align: center;
}

button:focus {
  outline: 0;
}

.scoreboard {
  border-bottom: 1px solid grey;
  text-align: center;
}

.scoreboard p {
  padding: 16px;
  font-size: 20px;
  margin: 10px;
  display: inline;
}

.carousel-swap-leave {
  transition: transform 0.3s ease-in-out;
  transform: translate(0, 0);
}
.carousel-swap-leave-active {
  transform: translate(-100%, 0);
}

.carousel-swap-enter {
  transition: transform 0.3s ease-in-out;
  transform: translate(100%, 0);
}
.carousel-swap-enter-active {
  transform: translate(0, 0);
}

.carousel-swap-height {
  transition: height 0.3s ease-in-out;
}
input.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 1rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
