.CenterScreen {
  text-align: center;
}
body {
  /* background-color: peachpuff; */
  /* background: url("starblue.jpg"); */
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#root {
  background-color: rgb(255, 202, 198);
  /* background-color: peachpuff; */
  background: url("whiteflower.jpg");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App-header {
  /* background-color: peachpuff; */

  /* background: url("pastelsky.jpg"); */
  /* Full height */
  background-color: #def5ef;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App-header h2 {
  color: rgb(20, 20, 20);
}
.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50;
}
.modalStyle {
  background-color: #fff;
  border-radius: 5;
  max-width: 500;
  min-height: 300;
  margin: 0 auto;
  padding: 30;
}

.UIblocks {
  max-width: 200px;
  text-align: center;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.footer {
  min-height: 50px;
  background: #f4f7fa;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #b8b8b8;
}
.form-control {
  display: block;
  width: 15%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
h3 {
  font-size: 24px;
  background-color: #def5ef;
}

.btn-primary {
  color: black;
  background-color: #fdebfd;
  border-color: #2e6da4;
}
.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
  color: black;
  background-color: #fdebfd;
  border-color: #2e6da4;
}
